body {
  background-color: black !important;
  background-image: url("./background.jpg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.MenuBar {
  background-color: rgba(0, 0, 0, 0.3);
  color: white !important; }

.ActivityList {
  width: 100%;
  display: inline-block; }
  .ActivityList .title {
    color: #000000;
    font-size: 200%; }

.WeekActivity {
  padding: 1%; }

.Welcome {
  background-color: rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 5%;
  width: 75%;
  text-align: center;
  color: #ffffff; }
  .Welcome .title {
    color: #ffffff;
    font-size: 300%; }

.ActivityModal {
  width: 100%;
  text-align: center; }

.GoalModal {
  width: 100%;
  text-align: center; }

.ModalInputGroup {
  padding: 10%;
  margin: auto;
  width: 75%; }

.inputModal {
  margin-bottom: 3% !important; }

.Dashboard {
  width: 75%;
  margin: auto;
  padding: 1%; }

.StateDate {
  color: white;
  font-size: large;
  display: inline-block; }

/* CircularProgressbar */
.ProgBarContainer {
  width: 80%;
  height: 75%;
  margin: auto; }

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3ec7bb;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s; }

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #f7f7f7; }

.CircularProgressbar .CircularProgressbar-text {
  fill: #000000;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle; }

.CirProgBarLarge {
  width: 70%;
  margin: auto; }

.CirProgBarMedium {
  width: 50%;
  margin: auto; }
  .CirProgBarMedium .CircularProgressbar-path {
    stroke: #ec5615;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s; }

.CirProgBarSmall {
  width: 25%;
  margin: auto; }

.pieChartDashboard {
  width: 75%;
  margin: auto; }

.progressTitle {
  font-size: 1.42em;
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%; }
